.text {
    font-size: large;
    line-height: 30px;
}

.president {
    margin-top: 30px;
}

.img {
    width: 40%;
}

.texth1 {
    color: rgb(76, 72, 72);
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .img {
        width: 100%;
    }

    .text {
        font-size: medium;
        margin-left: 10px;
        margin-right: 15px;
    }
}